.product_card{
    width: 300px;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 10px 20px 50px rgb(186, 183, 183);
}
.buy-product-btn{
    width: inherit;
}

.product-card-btns{
    display:flex;
    gap: 0.1rem;
    width: inherit;
}

.product_list_search{
    text-align: center;
    padding: 30px 30px;
}