.ekart-search-product-input{
    width: 30rem;
    padding: 8px;
    background-color: rgba(211, 211, 211, 0.7);
}
.ekart-search-product-btn{
   padding: 8px;
   width: 7rem;
   background-color: rgba(0, 0, 0, 0.849);
   color:white;
   font-weight: bold;   
   cursor: pointer;
}
.search_result{
    padding: 10px;
    margin-left: 5rem;
    text-align: left;
    font-size: large;
}

.ekart-search-product-btn-disabled{
  cursor: not-allowed;
  padding: 8px;
   width: 7rem;
   color:white;
   font-weight: bold;
  background-color: rgb(97, 95, 95);

}